* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 60px;
  background-color: green;

  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

header nav div {
  width: 110px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav div button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

header nav div button:hover {
  height: 80%;

  /* outline: grey solid 1px; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: rgb(58, 57, 57);
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .simulador {
  width: 80%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .simulador .titulo-simulador {
  width: 100%;
  height: 10%;
  background-color: green;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .simulador .simulador__container {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main .simulador .simulador__container .simulador__container__form {
  width: 50%;
  height: 100%;
}

main .simulador .simulador__container .simulador__container__form form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .simulador .simulador__container .simulador__container__form form .row {
  width: 100%;
  height: 40px;
  margin: 3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  label {
  font-size: 1.2rem;
  font-weight: bold;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  input,
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  select {
  width: 40%;
  height: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid green;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  input:focus,
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  select:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(1, 255, 1);
}
/* Input range */
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step {
  width: 40%;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"] {
  outline: none;
  -webkit-appearance: none;
  background-color: #aaa;
  height: 7px;
  width: 100%;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-webkit-slider-thumb {
  background: transparent;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-moz-range-thumb {
  background: transparent;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  input[type="range"]::-ms-thumb {
  background: transparent;
}
main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  datalist {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: auto;
  bottom: 16px;
  /* disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  /* disable click events */
  pointer-events: none;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .row
  .range-step
  datalist
  option {
  width: 15px;
  height: 15px;
  min-height: 15px;
  border-radius: 100px;
  /* hide text */
  white-space: nowrap;
  padding: 0;
  line-height: 47px;
}
/* fin Input range */

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .btn-container {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .btn-container
  .btn-simulador {
  width: 60%;
  height: 40px;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

main
  .simulador
  .simulador__container
  .simulador__container__form
  form
  .btn-container
  .btn-simulador:active {
  background-color: rgb(14, 158, 14);
}

main .simulador .simulador__container .simulador__container__result {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: solid green;
  
}

main
  .simulador
  .simulador__container
  .simulador__container__result
  .contenido-row {
  width: 90%;
  height: 20%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid green;
  margin: 5px 0;
  border-radius: 10px;
  
}

main .datosTasas {
  width: 300px;
  height: 200px;
  border: 1px solid green;
  position: absolute;
  top: 63px;
  right: 3%;
}

main .datosTasas .bienvenida {
  width: 100%;
  height: 50px;
  background-color: green;
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .datosTasas .tasas {
  width: 100%;
  height: 150px;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Pantalla de Login */
.login {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login .contenido-login {
  width: 100%;
  max-width: 900px;
  height: 100%;
  max-height: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .contenido-login .titulo {
  width: 50%;
  height: 10%;
  background-color: green;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .contenido-login .form {
  width: 50%;
  height: 40%;

  border: 1px solid green;
}

.login .contenido-login .form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .contenido-login .form form div {
  width: 90%;
}

.login .contenido-login .form form .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .contenido-login .form form .input label {
  font-size: 1.5rem;
  font-weight: bold;
}

.login .contenido-login .form form .input input {
  width: 60%;
  height: 40px;
  font-size: 1.2rem;
  margin: 2px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: solid green;
}

.login .contenido-login .form form .input input:focus {
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(1, 255, 1);
}

.login .contenido-login .form form .subtexto {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(182, 192, 189);
}

.login .contenido-login .form form .error {
  color: red;
}

.login .contenido-login .form form .button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .contenido-login .form form .button .btn-login {
  width: 60%;
  height: 40px;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.login .contenido-login .form form .button .btn-login:active {
  background-color: rgb(14, 158, 14);
}

.ocultar {
  display: none;
}
